
<nav class="main-navbar">
	<a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
  <a routerLink="/products" routerLinkActive="active">Products</a>
  @if (isLoggedInSignal()) {
	  <a routerLink="/profile" routerLinkActive="active">Profile</a>
    @if (isSellerOrAdminSignal()) {
      <a routerLink="/seller/dashboard" routerLinkActive="active">Seller Dashboard</a>
    }
  }
  @if (!isLoggedInSignal()) {
    <a routerLink="/signup" routerLinkActive="active">Signup</a>
    <a routerLink="/login" routerLinkActive="active">Login</a>
  } @else {
    <a (click)="logout()" routerLinkActive="active">Logout</a>
  }
</nav>


<router-outlet></router-outlet>
